<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>longitude</key>
		<string>-99.174829</string>
		<key>latitude</key>
		<string>19.324260</string>
		<key>name</key>
		<string>Universidad</string>
	</dict>
	<key>2</key>
	<dict>
		<key>longitude</key>
		<string>-99.175204</string>
		<key>latitude</key>
		<string>19.326442</string>
		<key>name</key>
		<string>Instituto de Geofísica</string>
	</dict>
	<key>3</key>
	<dict>
		<key>longitude</key>
		<string>-99.176883</string>
		<key>latitude</key>
		<string>19.323358</string>
		<key>name</key>
		<string>Química Edificios D y E</string>
	</dict>
	<key>4</key>
	<dict>
		<key>longitude</key>
		<string>-99.179104</string>
		<key>latitude</key>
		<string>19.322608</string>
		<key>name</key>
		<string>Ciencias</string>
	</dict>
	<key>5</key>
	<dict>
		<key>longitude</key>
		<string>-99.179474</string>
		<key>latitude</key>
		<string>19.322360</string>
		<key>name</key>
		<string>Ciencias</string>
	</dict>
	<key>6</key>
	<dict>
		<key>longitude</key>
		<string>-99.181845</string>
		<key>latitude</key>
		<string>19.324705</string>
		<key>name</key>
		<string>Ciencias</string>
	</dict>
	<key>7</key>
	<dict>
		<key>longitude</key>
		<string>-99.182151</string>
		<key>latitude</key>
		<string>19.325701</string>
		<key>name</key>
		<string>Camino Verde</string>
	</dict>
	<key>8</key>
	<dict>
		<key>longitude</key>
		<string>-99.184431</string>
		<key>latitude</key>
		<string>19.323864</string>
		<key>name</key>
		<string>Contaduría</string>
	</dict>
	<key>9</key>
	<dict>
		<key>longitude</key>
		<string>-99.186711</string>
		<key>latitude</key>
		<string>19.323368</string>
		<key>name</key>
		<string>Trabajo Social</string>
	</dict>
	<key>10</key>
	<dict>
		<key>longitude</key>
		<string>-99.187676</string>
		<key>latitude</key>
		<string>19.324026</string>
		<key>name</key>
		<string>Metrobus CU</string>
	</dict>
	<key>11</key>
	<dict>
		<key>longitude</key>
		<string>-99.187848</string>
		<key>latitude</key>
		<string>19.325266</string>
		<key>name</key>
		<string>Estadio de Prácticas</string>
	</dict>
	<key>12</key>
	<dict>
		<key>longitude</key>
		<string>-99.186888</string>
		<key>latitude</key>
		<string>19.322382</string>
		<key>name</key>
		<string>Educación a Distancia</string>
	</dict>
	<key>13</key>
	<dict>
		<key>longitude</key>
		<string>-99.184517</string>
		<key>latitude</key>
		<string>19.322858</string>
		<key>name</key>
		<string>DGTIC</string>
	</dict>
	<key>14</key>
	<dict>
		<key>longitude</key>
		<string>-99.188025</string>
		<key>latitude</key>
		<string>19.323712</string>
		<key>name</key>
		<string>Metrobus CU</string>
	</dict>
	<key>15</key>
	<dict>
		<key>longitude</key>
		<string>-99.189216</string>
		<key>latitude</key>
		<string>19.323570</string>
		<key>name</key>
		<string>Metrobus CU</string>
	</dict>
	<key>16</key>
	<dict>
		<key>longitude</key>
		<string>-99.189763</string>
		<key>latitude</key>
		<string>19.323297</string>
		<key>name</key>
		<string>Instituto de Ciencias Biomédicas</string>
	</dict>
	<key>17</key>
	<dict>
		<key>longitude</key>
		<string>-99.192510</string>
		<key>latitude</key>
		<string>19.321931</string>
		<key>name</key>
		<string>Campos de Fútbol II</string>
	</dict>
	<key>18</key>
	<dict>
		<key>longitude</key>
		<string>-99.194269</string>
		<key>latitude</key>
		<string>19.321162</string>
		<key>name</key>
		<string>Jardín Botánico</string>
	</dict>
	<key>19</key>
	<dict>
		<key>longitude</key>
		<string>-99.192874</string>
		<key>latitude</key>
		<string>19.323652</string>
		<key>name</key>
		<string>Campos de Fútbol I</string>
	</dict>
	<key>20</key>
	<dict>
		<key>longitude</key>
		<string>-99.188776</string>
		<key>latitude</key>
		<string>19.329079</string>
		<key>name</key>
		<string>Dirección General de CCH</string>
	</dict>
	<key>21</key>
	<dict>
		<key>longitude</key>
		<string>-99.187338</string>
		<key>latitude</key>
		<string>19.330228</string>
		<key>name</key>
		<string>Servicios Médicos</string>
	</dict>
	<key>22</key>
	<dict>
		<key>longitude</key>
		<string>-99.185879</string>
		<key>latitude</key>
		<string>19.330471</string>
		<key>name</key>
		<string>Alberca Olímpica</string>
	</dict>
	<key>23</key>
	<dict>
		<key>longitude</key>
		<string>-99.184624</string>
		<key>latitude</key>
		<string>19.330532</string>
		<key>name</key>
		<string>Ingeniería</string>
	</dict>
	<key>24</key>
	<dict>
		<key>longitude</key>
		<string>-99.182467</string>
		<key>latitude</key>
		<string>19.330439</string>
		<key>name</key>
		<string>Frontones</string>
	</dict>
	<key>25</key>
	<dict>
		<key>longitude</key>
		<string>-99.180858</string>
		<key>latitude</key>
		<string>19.330622</string>
		<key>name</key>
		<string>IIMAS</string>
	</dict>
	<key>26</key>
	<dict>
		<key>longitude</key>
		<string>-99.179844</string>
		<key>latitude</key>
		<string>19.329225</string>
		<key>name</key>
		<string>Invernadero</string>
	</dict>
	<key>27</key>
	<dict>
		<key>longitude</key>
		<string>-99.181008</string>
		<key>latitude</key>
		<string>19.327149</string>
		<key>name</key>
		<string>Posgrado de Ingeniería</string>
	</dict>
	<key>28</key>
	<dict>
		<key>longitude</key>
		<string>-99.179131</string>
		<key>latitude</key>
		<string>19.328720</string>
		<key>name</key>
		<string>Ciencias del Mar y Limnología</string>
	</dict>
	<key>29</key>
	<dict>
		<key>longitude</key>
		<string>-99.180778</string>
		<key>latitude</key>
		<string>19.330931</string>
		<key>name</key>
		<string>Química</string>
	</dict>
	<key>30</key>
	<dict>
		<key>longitude</key>
		<string>-99.183256</string>
		<key>latitude</key>
		<string>19.330839</string>
		<key>name</key>
		<string>CELE</string>
	</dict>
	<key>31</key>
	<dict>
		<key>longitude</key>
		<string>-99.184533</string>
		<key>latitude</key>
		<string>19.330799</string>
		<key>name</key>
		<string>Ingeniería</string>
	</dict>
	<key>32</key>
	<dict>
		<key>longitude</key>
		<string>-99.186845</string>
		<key>latitude</key>
		<string>19.330603</string>
		<key>name</key>
		<string>Arquitectura</string>
	</dict>
	<key>33</key>
	<dict>
		<key>longitude</key>
		<string>-99.189194</string>
		<key>latitude</key>
		<string>19.330205</string>
		<key>name</key>
		<string>MUCA</string>
	</dict>
	<key>34</key>
	<dict>
		<key>longitude</key>
		<string>-99.189184</string>
		<key>latitude</key>
		<string>19.332260</string>
		<key>name</key>
		<string>Rectoría</string>
	</dict>
	<key>35</key>
	<dict>
		<key>longitude</key>
		<string>-99.190772</string>
		<key>latitude</key>
		<string>19.329740</string>
		<key>name</key>
		<string>E-8</string>
	</dict>
	<key>36</key>
	<dict>
		<key>longitude</key>
		<string>-99.193218</string>
		<key>latitude</key>
		<string>19.329578</string>
		<key>name</key>
		<string>E-7</string>
	</dict>
	<key>37</key>
	<dict>
		<key>longitude</key>
		<string>-99.194591</string>
		<key>latitude</key>
		<string>19.330995</string>
		<key>name</key>
		<string>E-6</string>
	</dict>
	<key>38</key>
	<dict>
		<key>longitude</key>
		<string>-99.194634</string>
		<key>latitude</key>
		<string>19.332359</string>
		<key>name</key>
		<string>E-4</string>
	</dict>
	<key>39</key>
	<dict>
		<key>longitude</key>
		<string>-99.194355</string>
		<key>latitude</key>
		<string>19.333392</string>
		<key>name</key>
		<string>E-3</string>
	</dict>
	<key>40</key>
	<dict>
		<key>longitude</key>
		<string>-99.190643</string>
		<key>latitude</key>
		<string>19.333554</string>
		<key>name</key>
		<string>E-1</string>
	</dict>
	<key>41</key>
	<dict>
		<key>longitude</key>
		<string>-99.189034</string>
		<key>latitude</key>
		<string>19.334890</string>
		<key>name</key>
		<string>Psicología</string>
	</dict>
	<key>42</key>
	<dict>
		<key>longitude</key>
		<string>-99.188905</string>
		<key>latitude</key>
		<string>19.334323</string>
		<key>name</key>
		<string>Psicología</string>
	</dict>
	<key>43</key>
	<dict>
		<key>longitude</key>
		<string>-99.187392</string>
		<key>latitude</key>
		<string>19.335085</string>
		<key>name</key>
		<string>Filosofía y Letras</string>
	</dict>
	<key>44</key>
	<dict>
		<key>longitude</key>
		<string>-99.187328</string>
		<key>latitude</key>
		<string>19.334640</string>
		<key>name</key>
		<string>Filosofía y Letras</string>
	</dict>
	<key>45</key>
	<dict>
		<key>longitude</key>
		<string>-99.183379</string>
		<key>latitude</key>
		<string>19.335723</string>
		<key>name</key>
		<string>Economía</string>
	</dict>
	<key>46</key>
	<dict>
		<key>longitude</key>
		<string>-99.182907</string>
		<key>latitude</key>
		<string>19.335209</string>
		<key>name</key>
		<string>Economía</string>
	</dict>
	<key>47</key>
	<dict>
		<key>longitude</key>
		<string>-99.180558</string>
		<key>latitude</key>
		<string>19.334548</string>
		<key>name</key>
		<string>Odontología</string>
	</dict>
	<key>48</key>
	<dict>
		<key>longitude</key>
		<string>-99.180408</string>
		<key>latitude</key>
		<string>19.334893</string>
		<key>name</key>
		<string>Odontología</string>
	</dict>
	<key>49</key>
	<dict>
		<key>longitude</key>
		<string>-99.178938</string>
		<key>latitude</key>
		<string>19.332645</string>
		<key>name</key>
		<string>Medicina</string>
	</dict>
	<key>50</key>
	<dict>
		<key>longitude</key>
		<string>-99.178541</string>
		<key>latitude</key>
		<string>19.331218</string>
		<key>name</key>
		<string>Psiquiatría</string>
	</dict>
	<key>51</key>
	<dict>
		<key>longitude</key>
		<string>-99.174957</string>
		<key>latitude</key>
		<string>19.328568</string>
		<key>name</key>
		<string>CENDI</string>
	</dict>
	<key>52</key>
	<dict>
		<key>longitude</key>
		<string>-99.176180</string>
		<key>latitude</key>
		<string>19.329638</string>
		<key>name</key>
		<string>Veterinaria</string>
	</dict>
	<key>53</key>
	<dict>
		<key>longitude</key>
		<string>-99.176320</string>
		<key>latitude</key>
		<string>19.322136</string>
		<key>name</key>
		<string>Tienda UNAM</string>
	</dict>
	<key>54</key>
	<dict>
		<key>longitude</key>
		<string>-99.176599</string>
		<key>latitude</key>
		<string>19.317762</string>
		<key>name</key>
		<string>Ciencias Políticas</string>
	</dict>
	<key>55</key>
	<dict>
		<key>longitude</key>
		<string>-99.176298</string>
		<key>latitude</key>
		<string>19.317489</string>
		<key>name</key>
		<string>TV UNAM</string>
	</dict>
	<key>56</key>
	<dict>
		<key>longitude</key>
		<string>-99.176298</string>
		<key>latitude</key>
		<string>19.317489</string>
		<key>name</key>
		<string>TV UNAM</string>
	</dict>
	<key>57</key>
	<dict>
		<key>longitude</key>
		<string>-99.180660</string>
		<key>latitude</key>
		<string>19.317228</string>
		<key>name</key>
		<string>Investigaciones Jurídicas</string>
	</dict>
	<key>58</key>
	<dict>
		<key>longitude</key>
		<string>-99.186072</string>
		<key>latitude</key>
		<string>19.315859</string>
		<key>name</key>
		<string>Biblioteca Nacional</string>
	</dict>
	<key>59</key>
	<dict>
		<key>longitude</key>
		<string>-99.186523</string>
		<key>latitude</key>
		<string>19.315778</string>
		<key>name</key>
		<string>Biblioteca Nacional</string>
	</dict>
	<key>60</key>
	<dict>
		<key>longitude</key>
		<string>-99.185922</string>
		<key>latitude</key>
		<string>19.314482</string>
		<key>name</key>
		<string>Centro Cultural</string>
	</dict>
	<key>61</key>
	<dict>
		<key>longitude</key>
		<string>-99.186416</string>
		<key>latitude</key>
		<string>19.314502</string>
		<key>name</key>
		<string>Centro Cultural</string>
	</dict>
	<key>62</key>
	<dict>
		<key>longitude</key>
		<string>-99.184903</string>
		<key>latitude</key>
		<string>19.312042</string>
		<key>name</key>
		<string>Estacionamiento 3</string>
	</dict>
	<key>63</key>
	<dict>
		<key>longitude</key>
		<string>-99.185278</string>
		<key>latitude</key>
		<string>19.311606</string>
		<key>name</key>
		<string>Revalidación de estudios</string>
	</dict>
	<key>64</key>
	<dict>
		<key>longitude</key>
		<string>-99.181770</string>
		<key>latitude</key>
		<string>19.310979</string>
		<key>name</key>
		<string>Universum</string>
	</dict>
	<key>65</key>
	<dict>
		<key>longitude</key>
		<string>-99.182156</string>
		<key>latitude</key>
		<string>19.310715</string>
		<key>name</key>
		<string>Personal Académico</string>
	</dict>
	<key>66</key>
	<dict>
		<key>longitude</key>
		<string>-99.180418</string>
		<key>latitude</key>
		<string>19.310371</string>
		<key>name</key>
		<string>Archivo General</string>
	</dict>
	<key>67</key>
	<dict>
		<key>longitude</key>
		<string>-99.185750</string>
		<key>latitude</key>
		<string>19.336151</string>
		<key>name</key>
		<string>Av. Universidad</string>
	</dict>
	<key>68</key>
	<dict>
		<key>longitude</key>
		<string>-99.184989</string>
		<key>latitude</key>
		<string>19.334997</string>
		<key>name</key>
		<string>Derecho</string>
	</dict>
	<key>69</key>
	<dict>
		<key>longitude</key>
		<string>-99.184935</string>
		<key>latitude</key>
		<string>19.335361</string>
		<key>name</key>
		<string>Av. Universidad</string>
	</dict>
	<key>70</key>
	<dict>
		<key>longitude</key>
		<string>-99.181234</string>
		<key>latitude</key>
		<string>19.316894</string>
		<key>name</key>
		<string>Investigaciones Jurídicas</string>
	</dict>
	<key>71</key>
	<dict>
		<key>longitude</key>
		<string>-99.180397</string>
		<key>latitude</key>
		<string>19.309878</string>
		<key>name</key>
		<string>Archivo General</string>
	</dict>
</dict>
</plist>
